#level {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    background-color: white;
    border-bottom: solid 2px black;
}

.level-rank {
    margin: 0;
    width: fit-content;
    font-size: 8vh;
}

#images {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#images img {
    height: 10vh;
    width: auto;
}
