.edit-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    bottom: 50px;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    border: solid black;
    gap: 10px;
}

.edit-modal a {
    color: black;
    background-color: white;
    border-radius: 10px;
    font-size: 2vh;
    cursor: pointer;
    border: solid black;
}
.edit-modal label {
    font-size: 2vh;
    gap: 10px;
    color: black;
}
